.MovieList {
  padding: 42px;
}

.MovieList-title {
  font-weight: 600;
  font-size: 20px;
}

.MovieList-list {
  display: flex;
  flex-wrap: wrap;
}

.MovieList-item-image {
  width: 100%;
  height: 100%;
}

.MovieList-item {
  margin: 8px;
  position: relative;
}

@media (max-width: 450px) {
  .MovieList-item {
    width: 100%;
  }
}

.MovieList-item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;

  justify-content: center;
  flex-direction: column;

  background: rgba(233, 30, 99, .3);
  color: white;
  display: none;
}

.MovieList-item:hover .MovieList-item-overlay {
  display: flex;
}