.MovieList-header {
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  height: 80px;
  border-bottom: solid 1px red;
  margin-bottom: 16px;
  padding: 0 42px;
}

.MovieList-header svg {
  margin-right: 8px;
}

.MovieList-rating {
  margin-left: auto;
  display: flex;
}

.MovieList-rating svg {
  cursor: pointer;
}

.MovieList-list {
  padding: 42px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.MovieList-item-image {
  width: 100%;
  height: 100%;
}

.MovieList-item {
  margin: 8px;
  position: relative;
  cursor: pointer;
}

@media (max-width: 450px) {
  .MovieList-item {
    width: 100%;
  }
}

.MovieList-item-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;

  justify-content: center;
  flex-direction: column;

  background: rgba(233, 30, 99, 0.3);
  color: white;
  display: none;
}

.MovieList-poster-fallback {
  min-width: 200px;
  height: 100%;
  text-align: center;

  justify-content: center;
  flex-direction: column;

  background: rgba(233, 30, 99, 0.5);
  color: white;
  display: flex;
}

.MovieList-item:hover .MovieList-item-overlay {
  display: flex;
}


